@model Vendedor
@{
    ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"]</h1>

<h3> tem certeza que deseja deletar este vendedor ?</h3>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success"> Voltar para lista</a>
    </form>
</div>